service vendor.xiaomi_device_script /vendor/bin/init.xiaomi.device.sh
    class core
    user root
    group root
    oneshot

# Sensors
service vendor.sensors.qti /vendor/bin/sensors.qti
    override
    disabled
    class core
    user system
    group system
    writepid /dev/cpuset/system-background/tasks

##### ulysse begin #####

# Audio
on property:ro.vendor.xiaomi.series=ulysse
    mount none /vendor/etc/ulysse_acdbdata /vendor/etc/acdbdata bind
    restart vendor.audio-hal

# Camera
service ulysse_qcamerasvr /system/vendor/bin/ulysse_mm-qcamera-daemon
    disabled
    class late_start
    user camera
    group camera system inet input graphics
    writepid /dev/cpuset/system-background/tasks

on property:ro.vendor.xiaomi.series=ulysse
    setprop ro.hardware.camera ulysse
    stop qcamerasvr
    enable ulysse_qcamerasvr
    restart vendor.camera-provider-2-4

# IR
on property:ro.vendor.xiaomi.series=ulysse
    chown system system /dev/lirc0
    setprop ro.hardware.consumerir lirc
    restart vendor.ir-hal-1-0

# Sensors
on property:ro.vendor.xiaomi.series=ulysse
    mount none /vendor/etc/sensors/ulysse_sensor_def_qcomdev.conf /vendor/etc/sensors/sensor_def_qcomdev.conf bind
    enable vendor.sensors.qti

##### ulysse end   #####

##### rova begin #####

# Audio
on property:ro.vendor.xiaomi.device=rolex
    mount none /vendor/etc/rolex_mixer_paths_qrd_sku2.xml /vendor/etc/mixer_paths_qrd_sku2.xml bind
    restart vendor.audio-hal

on property:ro.vendor.xiaomi.device=riva
    mount none /vendor/etc/riva_mixer_paths_qrd_sku2.xml /vendor/etc/mixer_paths_qrd_sku2.xml bind
    restart vendor.audio-hal

# Sensors
on property:ro.vendor.xiaomi.device=rolex
    mount none /vendor/etc/sensors/rolex_sensor_def_qcomdev.conf /vendor/etc/sensors/sensor_def_qcomdev.conf bind
    enable vendor.sensors.qti

on property:ro.vendor.xiaomi.device=riva
    mount none /vendor/etc/sensors/riva_sensor_def_qcomdev.conf /vendor/etc/sensors/sensor_def_qcomdev.conf bind
    enable vendor.sensors.qti

##### rova end #####
